
.header_container{
    height: 75px;
    background-color: white;
    box-shadow: 6px 3px 10px 2px #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.profile_options{
    display: flex;
    align-items: center;
}

.line_between_icons_and_profile{
    display: block;
    width: 2px;
    height: 40px;
    background-color: #a7a6a6;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.account{
    display: flex;
    align-items: center;
}
.account img{
    margin-right:10px ;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    
}

