:root {
    --swiper-navigation-size: 25px !important;
    --swiper-theme-color: #7E7E7E !important;
}

.swiper-slide {
    box-sizing: border-box;
}

.swiper-button-disabled {
    pointer-events: all !important;
    cursor: pointer !important;
}

.swiper-slide-visible {
    border: 1px solid #AEAEAE;
}

.swiper-slide-thumb-active {
    border: 1px solid #F45626;
}

/* .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #F45626;
  } */